<div id=" footer" class="footer mt-auto py-3 bg-dark text-center fixed-bottom" style="color: aliceblue;">
    <div class="container">
        <span>VSVT Bank &copy; Copyright 2022.</span>
    </div>
</div>