<nav class="navbar navbar-expand-lg navbar-dark bg-dark">          
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">VSVT Bank</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <li class="nav-item form-inline my-2 my-lg-0">
            <form action="/" method="get">
                <input type="submit" value="Logout">
            </form>
        </li>   
    </div>
</nav>