<table class="table table-striped">
    <thead>
      <tr style="text-align: center;">
        <th scope="col">branch id</th>
        <th scope="col">address</th>
        <th scope="col">assets</th>
        <th scope="col">branch name</th>
      </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
  </table>